@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body,html,input,button{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    padding:0px;
    margin: 0px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #000000;
}
li{
    list-style: none;
}
ul{
    margin: 0px;
    padding: 0px;
}
#root{
  
}
.wrapper {
    max-width: 1260px;
    margin: 0px auto;
}
.header__conteiner{
    display: flex;
    justify-content: space-between;
    max-width: 1225px;
    margin: 0px auto;
    padding-top: 49px;
    padding-bottom:40px;
    border-bottom:1px solid  #F7F7F7;
}

.header__logo__title{
    padding-left: 17px;
}
.header__logo__title h1{
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #181818;
}
.header__logo__title span{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7B;
}

.header__logo{
    display: flex;
    align-items: center;
}
.header__basket__content{
    position: relative;
    display: flex;
    align-items: center;
    background: #FE5F1E;
    border-radius: 30px;
    padding:16px 23px;
}
.header__basket__content::before{
    content:'';
    display:block;
    position:absolute;
    width:1px;
    height:25px;
    background: rgba(255, 255, 255, 0.25);
    left:55%;
    
}
.header__basket__qt{
    display: flex;
    align-items: center;
    padding-left: 13px;
}
.header__basket__price{
    font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
padding-right: 13px;
}
.header__basket__qt__sum{
    padding-left:3px;
    font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

.product__list{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.product__title{
    font-weight: bold;
font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;
}
.item__card{
    display: flex;
    flex-direction:column;
    flex:0 1 22.62%;
    margin:50px 15px;
    border-radius: 15px;
    text-align: center;
  
}
.item__card:nth-child(-n+4){
    margin-top: 35px;
}
.item__card__title{
    font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.01em;

color: #000000;
font-weight: 800;
    padding:22px 10px;
    padding-top:11px;
    
    flex: 1 1 auto;
}
.item__card__img{
   
}
.item__card__img img{
   
    
    max-width: 100%;
}
.item__card__price{
    font-size: 17px;
    font-weight: 600;
    padding:10px 0px;
}
.addBtn{
    font-size: 16px;
    border: none;
    padding:13px 18px;
    border: 1px solid #EB5A1E;
    box-sizing: border-box;
    border-radius: 30px;
    width:136px;
    cursor: pointer;
}
.addBtn:hover{
    background:#EB5A1E;
}
.addBtn:hover .addBtn__title{
    color: #fff;
}
.addBtn:hover svg path{
    fill: white;
}
.addBtn__title{
    padding-left: 7px;
    font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #EB5A1E;
}
.product__item{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
} 

.item__card__choice{
    background: #F3F3F3;
    border-radius: 10px;
    padding:7px 5px;
    padding-bottom:18px;
}
.item__card__types{
    padding-top: 10px;
    padding-bottom:30px;
}
.item__card__types span{
    padding:12px 28px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.015em;

    color: #2C2C2C;
    cursor: pointer;
}
.item__card__size span{
    padding:12px 24px;
   font-weight: bold;
    cursor: pointer;
    font-size: 14px;
line-height: 17px;

letter-spacing: 0.015em;

color: #2C2C2C;
}
.active{

    
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
border-radius: 5px;
}
.basket__empty__logo img {
    width: 261px;
}
.basket__empty__logo{
    padding:65px 0px;
}
.basket__is__empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 547px;
    margin: 0px auto;
    padding:100px 0px;
    
}
.basket__empty__btn__back{
    padding: 15px 30px;
    background: #282828;
border-radius: 30px;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.015em;

color: #FFFFFF;
}
.basket__empty__title h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    
    color: #000000;
    padding-bottom: 14px;
}
.basket__empty__title span{
    font-weight: normal;
font-size: 18px;
line-height: 145.4%;


text-align: center;


color: #777777;
}
.item__card__content__buttom{
    padding-top:17px;
    display: flex;
    justify-content:space-between;
}
.item__card__price{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.015em;
    color: #000000;
    
}

.filter__conteiner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1260px;
    margin: 0px auto;
}
.filter__list{
    display: flex;
    
    align-items: center;
    padding:40px 0px;
}
.filter__list__link{
    margin: 0px 9px;
}
.filter__list__link:nth-child(1){
    margin-left: 0px;
}
.filter__list__link{
    border-radius: 30px;
    padding: 15px 22px;
    background:#F9F9F9;
    font-weight: bold;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.015em;

    cursor: pointer;
}

.filter__list__link.active{
    background: #282828;
    color: #fff;
}
.filter__select{
    position: relative;
}
.filter__select__content{
    position: absolute;
    right:0;
    top: 24px;
    width: 132px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.filter__select__title{
    cursor: pointer;
}
.filter__select__title span{
    font-weight: bold;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.015em;

color: #2C2C2C;
}
.filter__select__title span svg{
    transform: rotate(0deg);
    padding-right: 7px;
    transition:0.2s ease-in-out;

}
.filter__select__title span:nth-child(2){
    padding-left: 8px;
    color: #FE5F1E;
}
.filter__select__list__link{
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;

    color: #000000;
    padding: 10px 14px;
    padding-right: 0px;
    transition: 0.2s ease-in-out;
}
.filter__select__list__link:hover{
    color: #FE5F1E;
    background: rgba(254, 95, 30, 0.05);
}
.filter__select__list__link.active{
    color: #FE5F1E;
    background: rgba(254, 95, 30, 0.05);
}
.filter__select__title.active svg{
    padding-left: 7px;
    transform: rotate(180deg);
}

.basket__dont__empty{
    max-width: 820px;
    margin: 0px auto;
    padding-top: 94px;
    padding-bottom:131px;
}

.basket__delete{
    display: flex;
    align-items: center;
}
.basket__title{
    display: flex;
    align-items: center;
}
.basket__title__text{
    padding-left:17px;
    font-weight: bold;
font-size: 32px;
line-height: 39px;


letter-spacing: 0.01em;

color: #000000;
}
.basket__top{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 30px;
}
.basket__item__image img{
    width:80px;
}
.basket__item__delete{
    cursor: pointer;
}
.basket__delete{
    cursor: pointer;
}
.basket__delete__text{
    font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #B6B6B6;
    
    padding-left: 7px;
}
.basket__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0px;
    border-bottom: 1px solid #F4F4F4;
}
.basket__item__info{
    
}
.basket__item__info__title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;

    letter-spacing: 0.01em;

    color: #000000;
}
.basket__item__info__types span{
    font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;

color: #8D8D8D;
}
.basket__item__qty{
    display: flex;
    align-items: center;
}
.basket__item__qty__btn__qty{
    padding:0px 12px;
    font-weight: bold;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;

}
.basket__item__price{
    font-weight: 800;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;
}
.basket__item__qty__btn__minus{
    cursor: pointer;
}
.basket__item__qty__btn__plus{
    cursor: pointer;
}
.basket__qty span:nth-child(1){
    font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;
}
.basket__qty span:nth-child(2){
    font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;
}
.basket__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:22px;
    padding-bottom:40px;
}
.basket__price span{
    font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;
}
.basket__price span:nth-child(2){
    font-weight: bold;
    color: #FE5F1E;
}
.basket__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basket__btn__back{
    display: flex;
    align-items: center;
    padding:18px 25px;
    background: #FFFFFF;
border: 1px solid #D3D3D3;
box-sizing: border-box;
border-radius: 30px;
cursor: pointer;
}
.btn__back__text{
    padding-left: 10px;
}
.basket__btn__pay{
    padding:18px 25px;
    background: #FE5F1E;
border: 1px solid #D3D3D3;
box-sizing: border-box;
border-radius: 30px;
cursor: pointer;
color: white;
}

/*.item__card:nth-child(4n+1){
    margin-left: 0px;
}
.item__card:nth-child(4n){
    margin-right: 0px;
}*/
@media(max-width:1272px) {
    .filter{
        
    }
}
@media(max-width:1269px){
    .wrapper{
        padding:0px 10px;
        max-width: 1100px;
    }
    .item__card{
        flex: 0 1 30.5%;
    }
   .item__card:nth-child(3n+1){
       margin-left: 0px;
   }
   .item__card:nth-child(3n){
        margin-right: 0px;
    }
    .item__card:nth-child(1){
        margin-right: 15px;
    }
    .header__conteiner{
        padding-left:10px;
        padding-right:10px;
    }
}

@media(max-width:1140px){
    .wrapper{
        max-width: 1050px;
    }
    .item__card{
        flex: 0 1 30.95%;
    }
    
}
@media(max-width:1041px){
    .filter__conteiner{
        display: block;
    }
    
    .filter__list{
        overflow-x: scroll;
        padding:30px 0px;
    }
    .filter__select__content{
        top: 55px;
        left: 0;
    }
    .filter__select{
        padding:25px 0px;
    }
}
@media(max-width:903px){
    .item__card{
        flex: 0 1 40%;
    }
    .item__card{
        margin: 0px;
        
    }
    .item__card:nth-child(1){
        margin:0px;
    }
    .item__card:nth-child(-n+4){
        margin: 0px;
    }
    .product__list{
        justify-content:center;
    }
}
@media(max-width:644px){
    .basket__item{
        position: relative;
        justify-content:space-evenly;
    }
    .basket__item__qty{
        position: absolute;
        bottom: 0px;
        right: 140px;
    }
    .basket__item__price{
        position: absolute;
        bottom: 6px;
        right: 54px;
    }
    .basket__item__delete{
        position: absolute;
        right: 16px;
        top: 16px;
    }
    .item__card{
        flex: 0 1 85%;
        margin:22px;
    }
    .item__card:nth-child(3n+1){
        margin:22px;
    }
    .item__card:nth-child(3n){
        margin: 0px;
    }
    .item__card:nth-child(-n+4){
        margin: 22px;
    }
    .item__card__img img{
        width:100%;
    }
    .item__card__title {
        font-size: 25px;
    }
    .basket__bottom{
        padding-left:4px;
        padding-right: 4px;
    }
}

@media(max-width:460px){
    .header__basket{
        position: fixed;
    right: 20px;
    bottom: 20px;
    }
    .filter__select__content{
        width:200px;
    }
    .filter__select__list__link {
        font-size: 16px;
        padding:14px 14px;
    }
}